@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Anonymous Pro", "Courier New", monospace;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  color: #007bff;
}

button {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

.app-main {
  padding: 7.5rem;
}

nav {
  font-family: inherit;
}

nav li {
  font-weight: bold;
}

:root h1 {
  font-family: inherit;
  font-weight: bold;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:root h2 {
  font-family: inherit;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

article {
  height: 60rem;
  width: 40vw;
  margin: 1rem;
}

.article__body {
  height: 30rem;
}

.article__footer {
  border: 1px solid red;

  height: 20rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

button {
  width: 15rem;
}

form {
  margin: 2.5rem;
}

textarea {
  height: 20rem;
}

.edit__buttons {
  width: 35rem;
  display: flex;
  justify-content: space-between;
}
